<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="ViewModelTemplate.tt" #>

<#
	ViewModelTemplate viewModelTemplate = new ViewModelTemplate();
	viewModelTemplate.File = Host.ResolvePath("ViewModel.mvvm");
	viewModelTemplate.Namespace = "TestGUI.ViewModel";
	viewModelTemplate.Render();
#>